<footer>
    <div class="footer-top">
      <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p id="footer-logo">McDonald's</p>
                </div>
  
                <div class="col-12">
                    <ul>
                        <li>Gizlilik ve Veri Güvenliği Politikası</li>
                        <li>Kullanım Koşulları</li>
                        <li>Bilgi Toplumu Hizmetleri</li>
                        <li>Bize Ulaşın</li>
                    </ul>
                    <p class="d-none d-md-block">Copyright&copy; Anadolu Restoran İşletmeleri Ltd. Şti.</p>
                </div>
  
                <div class="col-12 ">
                    <p class="footer-phone">444 62 62</p>
                </div>
            </div>
      </div>
    </div>
  
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="d-none d-md-block col-md-12 col-lg-6 text-center text-sm-center text-md-center">
                    <div class="footer-social clearfix">
                        <div class="fs-icon">Sosyal Medyada McDonald's</div>
                        <ul class="clearfix fs-media">
                            <li><a href="https://www.facebook.com/McDonaldsTurkiye" class="fs-fb" target="_blank"></a></li>
                            <li><a href="https://twitter.com/mcdonaldstr" class="fs-tw" target="_blank"></a></li>
                            <li><a href="https://www.instagram.com/mcdonaldsturkiye" class="fs-in" target="_blank"></a></li>
                            <li><a href="https://www.youtube.com/user/mcdonaldstr" class="fs-yt" target="_blank"></a></li>
                            <li><a href="https://www.linkedin.com/company/mcdonald's-corporation" class="fs-li" target="_blank"></a></li>
                            <li><a href="https://tr.pinterest.com/mcdonaldstr" class="fs-pn" target="_blank"></a></li>
                            <li><a href="https://plus.google.com/+McDonaldsTR" class="fs-gp" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center text-sm-center text-md-center">
                    <div class="clearfix app-info">
                        <div class="app-text">
                            McDonald's Uygulamasını İndirin
                        </div>
                        <div class="apps clearfix">
                            <a href="https://itunes.apple.com/tr/app/mcdonalds/id1217507712?l=tr&mt=8" target="_blank" class="app-store"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.mcdonalds.mobileapp" target="_blank" class="google-play"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  