<div class="container">
  <div class="row ">
    <div class="col-8">
      <ul class="nav navbar-nav navbar-center ">
        <li>
          <a routerLink="/anasayfa" target="_self" routerLinkActive="active">
          <img class="nav-icon" src="assets/photos/logo.png">
          </a>
        </li>

        <li class="nav-item active">
          <a routerLink="/lezzetler" target="_self" routerLinkActive="active" class="h nav-link">McDONALD&#39;S LEZZETLERİ</a>
        </li>
        <li class="nav-item">
          <a routerLink="/kampanyalar" target="_self" routerLinkActive="active" class="h nav-link">KAMPANYALAR</a>
        </li>
        <li class="nav-item">
          <a routerLink="/hakkimizda" target="_self" routerLinkActive="active" class="h nav-link">HAKKIMIZDA</a>    
        </li>
        <li class="nav-item">
          <a routerLink="/sir" target="_self" routerLinkActive="active" class="h nav-link">McDONALD&#39;S&#39;IN SIRRI</a>
        </li>
        <li class="nav-item">
          <a href="https://www.mcdonalds.com.tr/restoranlar" target="_self"  class="h nav-link">RESTORANLAR</a>
        </li>
      </ul>
    </div>
        <div class="col-4 ">
          <div class="order-phone">
            <a href="tel:4446262"> 444 62 62</a>
          </div>
        </div>
    </div>
  </div>


