.container {
    background: #212121;
    height: 100px;
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
  }
  .container li {
    display: inline-block;
    float: left;
  }
  a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 25px 20px;
  }
  .container img {
    height: 90px;
    top: -30px;
    position: relative;
    display: block;
  }
  .h:hover {
    background-color: rgb(170, 5, 5);
  }
  
  .order-phone a {
    font-size: 18px;
    background: url(src/assets/photos/menu-phone.png) 1065px center no-repeat;
    display: block;
    color: #fff;
    text-decoration: none;
  }
  