
  <div class="promo-item">
    <div class="promo-bg">
      <img src="assets/photos/sir.jpg" />
    </div>
    <div class="promo-text">
      <h2>Beslenme Ve Alerjen Maddeler | McDonald&#39;s</h2>
      <p>
        Aklınızda soru işareti kalmasın. Hakkımızda merak ettiğiniz her şey
        burada!
      </p>
    </div>
  </div>
<!-- <div class="content sub-category-content">
  <div class="container" *ngFor="let sir of container">
    <div class="row">
      <div class="col-4 p-0" style="position: relative; display: block;">
        <img style="display: inline-block; vertical-align: middle; width:100%" [src]="sir.img" alt="Card image cap"/>
        <h2 style="bottom:60px">{{ sir.title }}</h2>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-2 order-lg-1">
  <div class="static-text">
  <h2>ALERJİ VE ALERJEN NE DEMEK?</h2>
  
  <p>V&uuml;cudun normalde zararlı olmayan bazı maddelere karşı aşırı reaksiyon g&ouml;stermesidir. V&uuml;cudu hastalıklara karşı koruyan bağışıklık sistemi bazı insanlarda zararlı olmayan bir takım maddelere karşı aşırı tepki verir. Bu reaksiyonlara &ldquo;Alerji&rdquo;, alerjik reaksiyonlara yol a&ccedil;an maddelere de &ldquo;Alerjen&rdquo; denir. T&uuml;rk Gıda Kodeksi Etiketleme ve T&uuml;keticileri Bilgilendirme Y&ouml;netmeliği&rsquo;nde yer alan gıda alerjilerine sebep olan maddeler tabloda yatay kolonda belirtilmiştir. Men&uuml;de yer alan &uuml;r&uuml;nlerin i&ccedil;erisinde olan alerjenler tabloda &ldquo;+&ldquo; ile ifade edilmiştir. Herhangi bir m&uuml;şterimiz; gıda alerjisi veya gıda intoleransına sahip olduğunu s&ouml;yl&uuml;yorsa ya da &ccedil;&ouml;lyak hastasıysa m&uuml;şterimize bu d&ouml;k&uuml;mandan faydalanarak men&uuml; &ouml;nerisinde bulunabilirsiniz.</p>
  
  <p>Patates kızartması ve hash brown gibi &uuml;r&uuml;nler herhangi bir alerjen kaynağı i&ccedil;ermemektedir. Buna karşın mutfaklarımızda alerjenlerin &ccedil;apraz bulaşmasını &ouml;nleyici ekstra bir &ouml;nlem bulunmamaktadır.</p>
  
  <p>A&ccedil;ık mutfaklarda yoğun tempoyla &ccedil;alışıldığı i&ccedil;in t&uuml;keticilere alerjen i&ccedil;eren &ouml;ğelerle &ccedil;apraz bulaşma riski olduğu bilgisi mutlaka verilmelidir. Konuyla ilgili t&uuml;keticilerden gelen farklı sorular olursa Kalite G&uuml;vence Departmanı&rsquo;na danışabilirsiniz.</p>
</div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-1 order-lg-2"><img class="w-100" src="assets/photos/alerjen-listesi.jpg" /></div>
  </div>
  </div>
  


