img{
    width:100%;
}
.boxes{
    display: block;
    display: flex;
    font-family: LovinSans-Black;
    flex: 100%;
}
.follow-us{
    padding:45px 0 25px;
    color:black;
    text-align: center;
}
div{
    display: block;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
}
.row{
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
text-align: center;
}
.col-12{
    flex:0 0 100%;
    max-width: 100%;
}
.col{
    position: relative;
    width:100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-4{
    flex:0 0 33.333%;
    max-width: 33.333333%;
    position: relative;
} 
.follow-us a{
    padding-top: 60px;
    padding-left: 0;
    display: block;
    height: auto;
    font-size: 20px;
    background-position: center 0!important;
    line-height: 49px;
    font-family: LovinSans-Medium;
    color: black;
    text-decoration: none;
}
.follow-us a.social-tw {
    background: url(src/assets/photos/social-tw.png) 0 center no-repeat;
}
.follow-us a.social-fb {
    background: url(src/assets/photos/social-fb.png) 0 center no-repeat;
}
.follow-us a.social-in {
    background: url(src/assets/photos/social-in.png) 0 center no-repeat;
}

