<div class="promo">  
  <div class="promo-item">
      <p><img src="assets/photos/1.jpg"></p>
  </div>
  <div class="promo-item">
      <p><img src="assets/photos/2.jpg"></p>
  </div>
  <div class="promo-item">
      <p><img src="assets/photos/3.jpg"></p>
  </div>
</div>
<div class="boxes">
  <div class="box">
      <img src="assets/photos/4.jpg"/>  
  </div>
  <div class="box">
      <img src="assets/photos/5.jpg"  />    
  </div>
  <div class="box">
      <img src="assets/photos/6.jpg"  />
  </div>
</div>

<div class="follow-us">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2>BİZİ TAKİP EDİN</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-4">
              <a href="https://www.facebook.com/McDonaldsTurkiye" target="_blank" class="social-fb">/McDonaldsTurkiye</a>
          </div>
          <div class="col-4">
              <a href="https://twitter.com/mcdonaldstr" target="_blank" class="social-tw">@McDonaldsTR</a>
          </div>
          <div class="col-4">
              <a href="https://www.instagram.com/mcdonaldsturkiye" target="_blank" class="social-in">@mcdonaldsturkiye</a>
          </div>
      </div>
  </div>
</div>
