.container-fluid img{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.container-fluid{
    position: relative;
}
.promo-text{
    transform: translateY(-50%);
    width:100%;
    position:absolute;
    top:60%;
}
h2{
    text-align: center;
    font-size:70px;
    line-height: 20px;
    color:#fff;
    font:bold;
}
p{
    font-size:30px;
    color:#fff;
    line-height: 30px;
    text-align: center; 
} 
.lezzetler {
    background: url(src/assets/photos/products-box-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom:20px;
    margin-inline: 20px;
    margin-block:20px;
    
}
.lezzetler img{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.lezzetler h2{
    font-size: 23px;
    color:#202020;
    width:100%;
    position:absolute;
    bottom:55px;
}
.col-lg-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;  
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.container{
    position: relative;
}
.lezzetler .cta-button{
    font-size: 19px;
    margin:10px auto;
    display: block;
    color:#fff;
    background-color: #bc0016;
    border-radius: 30px;
    position: relative;
    text-decoration: none;
    width: 200px;
    height: 30px;
    line-height: 34px;
}